source [find interface/cmsis-dap.cfg]
transport select swd
source [find target/stm32f4x.cfg]
adapter speed 4000

# 芯片写保护时自动解锁（触发Mass Erase），解锁后不再重复
$_TARGETNAME configure -event gdb-attach {
    stm32f4x unlock 0
}
